@import url('https://fonts.googleapis.com/css2?family=Actor&family=Hind&family=Montserrat:wght@600&display=swap');

* {
    letter-spacing: 0.1rem;
    /* border: 1px solid black; */
}

main {
    margin: 0 auto;
    padding: 0 2rem;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    background: linear-gradient(90deg, rgba(118,180,245,1) 0%, rgb(235, 235, 141) 58%, rgba(118,180,245,1) 75%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;;
}

h2 {
    font-family: 'Actor', sans-serif;
    font-size: 1.6rem;
}

h2::before {
    content: "- ";
}

h2::after {
    content: " -";
}

p, li {
    font-family: 'Hind', sans-serif;
    font-weight: 400;
}

p::first-letter {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    float:inline-start;
    margin-right: .5rem;
}

li {
    line-height: 1.8rem;
}


h1 {
    text-align: center;
}

img {
    width: 60vw;
    max-width: 600px;
    display: block;
    margin: 2rem auto;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
}